CompileService/Service References/TaskRequestServ/TaskPool.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TaskPool" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ITaskPool_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58297/TaskPool.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58297/TaskPool.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58297/TaskPool.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITaskPool_GetTask_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTask" />
  </wsdl:message>
  <wsdl:message name="ITaskPool_GetTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskResponse" />
  </wsdl:message>
  <wsdl:message name="ITaskPool_GetTaskRun_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskRun" />
  </wsdl:message>
  <wsdl:message name="ITaskPool_GetTaskRun_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskRunResponse" />
  </wsdl:message>
  <wsdl:message name="ITaskPool_updateTaskRunningResult_InputMessage">
    <wsdl:part name="parameters" element="tns:updateTaskRunningResult" />
  </wsdl:message>
  <wsdl:message name="ITaskPool_updateTaskRunningResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateTaskRunningResultResponse" />
  </wsdl:message>
  <wsdl:message name="ITaskPool_updateTaskCompilingResult_InputMessage">
    <wsdl:part name="parameters" element="tns:updateTaskCompilingResult" />
  </wsdl:message>
  <wsdl:message name="ITaskPool_updateTaskCompilingResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateTaskCompilingResultResponse" />
  </wsdl:message>
  <wsdl:message name="ITaskPool_IamOnline_InputMessage">
    <wsdl:part name="parameters" element="tns:IamOnline" />
  </wsdl:message>
  <wsdl:message name="ITaskPool_IamOnline_OutputMessage">
    <wsdl:part name="parameters" element="tns:IamOnlineResponse" />
  </wsdl:message>
  <wsdl:portType name="ITaskPool">
    <wsdl:operation name="GetTask">
      <wsdl:input wsaw:Action="http://tempuri.org/ITaskPool/GetTask" message="tns:ITaskPool_GetTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITaskPool/GetTaskResponse" message="tns:ITaskPool_GetTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTaskRun">
      <wsdl:input wsaw:Action="http://tempuri.org/ITaskPool/GetTaskRun" message="tns:ITaskPool_GetTaskRun_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITaskPool/GetTaskRunResponse" message="tns:ITaskPool_GetTaskRun_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateTaskRunningResult">
      <wsdl:input wsaw:Action="http://tempuri.org/ITaskPool/updateTaskRunningResult" message="tns:ITaskPool_updateTaskRunningResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITaskPool/updateTaskRunningResultResponse" message="tns:ITaskPool_updateTaskRunningResult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateTaskCompilingResult">
      <wsdl:input wsaw:Action="http://tempuri.org/ITaskPool/updateTaskCompilingResult" message="tns:ITaskPool_updateTaskCompilingResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITaskPool/updateTaskCompilingResultResponse" message="tns:ITaskPool_updateTaskCompilingResult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IamOnline">
      <wsdl:input wsaw:Action="http://tempuri.org/ITaskPool/IamOnline" message="tns:ITaskPool_IamOnline_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITaskPool/IamOnlineResponse" message="tns:ITaskPool_IamOnline_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ITaskPool" type="tns:ITaskPool">
    <wsp:PolicyReference URI="#WSHttpBinding_ITaskPool_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTask">
      <soap12:operation soapAction="http://tempuri.org/ITaskPool/GetTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskRun">
      <soap12:operation soapAction="http://tempuri.org/ITaskPool/GetTaskRun" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateTaskRunningResult">
      <soap12:operation soapAction="http://tempuri.org/ITaskPool/updateTaskRunningResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateTaskCompilingResult">
      <soap12:operation soapAction="http://tempuri.org/ITaskPool/updateTaskCompilingResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IamOnline">
      <soap12:operation soapAction="http://tempuri.org/ITaskPool/IamOnline" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TaskPool">
    <wsdl:port name="WSHttpBinding_ITaskPool" binding="tns:WSHttpBinding_ITaskPool">
      <soap12:address location="http://localhost:58297/TaskPool.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:58297/TaskPool.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>